
.cart-body-container{
  display:grid;
  grid-template-columns: 1fr 450px;
  width: 80%;
  margin: 150px auto auto auto;
}

.cart-left-section{
  display:grid;
  grid-template-columns: 1fr;
  margin-left: 70px;
  max-width: 1000px;
}


.shopping-title{
  font-size: 25px;
  font-weight: 700;
}

.estimate-shipping{
  font-weight: 500;
  color: rgb(116, 115, 115);
  margin-left: 10px;
}

.item-container { 
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  margin: 80px 0 60px 0;
}

.item-left-section{
  display:flex;
  width: 270px;
  align-items: center;
}



.cart-item-image{
  width: 100px;
  object-fit: cover;
  object-position: center 20%;
}

.cart-item-name{
  font-size: 18px;
  font-weight: 700;
  margin-left: 30px;
}

.action-button-section{
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  max-width: 700px;
  align-items: center;
}
.cart-item-price{
  color: rgb(188, 185, 185);
}
.update-container{
  display: flex;
  align-items: center;
  border: 1px solid rgb(225, 225, 225);
  height: 50px;
  width: 170px;
}
.quantity-text{
  color: rgb(188, 186, 186);
  margin: 0 10px 0 10px;
  font-size: 15px;
}

.delete-button{
  width: 130px;
  height: 50px;
  border: 1px solid rgb(225, 225, 225);
  background-color: white;
  cursor: pointer;
  color: rgb(188, 186, 186);
  font-weight:500;
  font-size: 15px;
}

.decrease-button,
.increase-button,
.quantity-input-field{
  width: 25px;
}

.quantity-input-field{
  text-align: center;
  border: none;
  font-size: 15px;
}
.decrease-button,
.increase-button{
  border: none;
  background-color: white;
  font-size: 15px;
  cursor: pointer;
}

.go-back-shopping-link{
  text-decoration: none;
  color: rgb(189, 187, 187);
  font-weight: 700;
  margin-top: 30px;
  font-size: 18x;
 
}

.shipping-section{
  display: grid;
  align-items: center;
  grid-template-columns: 300px 1fr;
  border: 1px solid rgb(225, 225, 225);
  max-width: 900px;
  border-right: none;
  border-left: none;
}
.shipping-label{
  font-size: 18x;
  font-weight: 700;
  background-color: rgb(250, 250, 250);
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.shipping-option-container{
  display:flex;
  justify-content: space-evenly;
  max-width: 600px;

}
.shipping-option-radio{
  margin-right: 10px;
}

.shipping-label-radio{
  color: gray;
}

.cart-right-section{
  margin-right: 70px;
  background-color:rgb(250, 250, 250);
  height: 330px;
  margin-top: 60px;
}

.sub-total,
.tax,
.grand-total{
  display:flex;
  justify-content: space-between;
  margin: 15px 30px;
}

.cart-name{
  margin: 40px 30px;
  font-size: 25px;
  font-weight: 700;
}

.ruler{
  background-color: rgb(190, 188, 188);
  width: 88%;
  height:1px;
  margin: auto;
}

.button-checkout{
  display:flex;
  justify-content: center;
  margin-top: 30px;
}  

.checkout-button{
  height: 50px;
  width: 80%;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}
